html {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* page */
.page {
    width: 954px;
    margin: auto;
}
.page .header {
    height: 50px;
    padding: 5px 40px 5px 40px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D2D4D4;
}
.page .header .brand-area{
    display: block;
    width: 20%;
    text-align: left;
    margin: auto 0;
}
.page .header .nav-area{
    display: inline-block;
    width: 80%;
    text-align: right;
}
.page .content {
    border: 1px solid red;
    height: 500px;
    margin-bottom: 6px;
}
.page .footer {
    border: 1px solid red;
    margin-bottom: 6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright {
}
/* end of page */

/* brand */
.brand {
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    width: 100px;
    height: 100%;
}
.brand .icon {
}
.brand .name {
}
/* end of brand */
