html {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
/* commons */
.multi-columns {
    width: 100%;
    height: 100%;
}
.multi-columns__col-20 {
    float: left;
    width: 20%;
    height: 100%;
}
.multi-columns__col-30 {
    float: left;
    width: 30%;
    height: 100%;
}
.multi-columns__col-50 {
    float:left;
    width: 50%;
    height: 100%;
}
.multi-columns__col-80 {
    float:left;
    width: 80%;
    height: 100%;
}
.pull-content-right {
    text-align: right;
}
/* end of commons */
/* page */
.page {
    width: 954px;
    margin: auto;
}
.page__header {
    height: 50px;
    padding: 5px 40px 5px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D2D4D4;
}
.page__content {
}
.page__footer {
    border-top: 1px solid grey;
    margin-bottom: 6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
/* end of page */
/* slider */
.slider {
    position: relative;
    height: 400px; 
}
.slider__prev {
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;
    top: 20%;
    font-size: 200px;
    left: 30px; 
}
.slider__prev::before {
    content: '\003C'
}
.slider__next {
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;
    font-size: 200px;
    top: 20%;
    right: 30px;
}
.slider__next::before {
    content: '\003E'
}
.slider__summary {
    height: 100%;
}
.slider__summary__background {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}
.slider__summary__photo {
    height: 100%;
    padding: 40px 30px;
}
.slider__summary__description {
    padding: 120px 30px;
    color: white;
}
.slider__summary__description__title{
}
.slider__summary__description__details{
}
/* end of slider */
/* common buttons */
.sign-up {
    background-color: #4F94F1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px;
}
.sign-up__text {
}
.sign-up__text::before {
    content: 'v';
    margin: 4px;
    border-radius: 50%;
    color: #4F94F1;
    background-color: white;
}
/* end of common buttons */
/* brand */
.brand {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.brand__icon {
}
.brand__name {
    margin-left: 10px;
}
/* end of brand */
/* main nav  */
.main-nav {
    display: inline-block;
    height: 100%;
}
.main-nav__item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 16px; 
}
.main-nav__item--active {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 16px; 
    border-bottom: 1px solid blue;
}
.main-nav__item--active__title {
    text-decoration: none;
}
.main-nav__item__title {
    text-decoration: none;
}
/* end of main nav  */
/* services */
.services {
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services__item {
    text-align: center;
    padding: 0 30px;
}
.services_item__icon {
    padding: 10px;
}
.services_item__title {
    color: blue;
}
.services_item__detail {
}
/* end of services */
/* service detail */

.service-detail {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}
.service-detail__title {
    color: gray;
    font-size: 30px;
}
.service-detail__content {
    width: 100%;
}
.service-detail__content__image {}
.service-detail__content__text {}
.service-detail__content__title {
    color: grey;
    font-size: 20px;
}
.service-detail__content__detail {
    color: grey;
}
/* end of service detail */
/* copyright */
.copyright {
    color: grey;
}
/* end of copyright */
/* icons */
.icon {
    border-radius: 50%;
    max-width: 100px;
    padding: 20px;
}
.icon--bg-blue {
    background: blue;
}
.icon--bg-red {
    background: red;
}
.icon--bg-yellow {
    background: yellow;
}
/* end of icons */